{{define "header"}}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<title>Hello Golang</title>

	<!-- Mobile viewport optimisation -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- (en) Add your meta data here -->
	<!-- (de) Fuegen Sie hier ihre Meta-Daten ein -->

	<link href="/static/yaml/flexible-grids.css" rel="stylesheet" type="text/css"/>
	<link href="/static/css/hello-golang.css" rel="stylesheet" type="text/css"/>
	<!--[if lte IE 7]>
	<link href="/static/yaml/core/iehacks.css" rel="stylesheet" type="text/css" />
	<![endif]-->

	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
<header>
	<div class="ym-wrapper">
		<div class="ym-wbox">
			<h1>Hello Golang</h1>
		</div>
	</div>
</header>
<nav id="nav">
	<div class="ym-wrapper">
		<div class="ym-hlist">
			<ul>
				<li class="active"><strong>文章</strong></li>
				<li><a href="#">话题</a></li>
				<li><a href="#">关于</a></li>
			</ul>
		</div>
	</div>
</nav>
{{end}}