html,body{
	font-family:"microsoft yahei";
	height: 100%;
}

h1, h2, h3, h4, h5, h6 {
	font-family:"microsoft yahei";	
}

/* Sticky footer styles-------------------------------------------------- */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -90px;
}

/* Set the fixed height of the footer here */
#push {
    height: 90px;
}

#footer {
	height: 90px;
	
}

#footer .container p{
	font-size: 12px;
	margin: 0 ;
	text-align: center;
}

#footer .container hr{
	margin: 0;
	margin-bottom: 5px;
	border-bottom: 1px solid #375EAB;
}

/* Custom page CSS
      -------------------------------------------------- */
      /* Not required for template or sticky footer method. */


/*覆盖已有样式*/
/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.well{
	background-color:#E0EBF5;
	border: 1px solid #375EAB;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

a {
	color: #375EAB;
}

.navbar-inverse .navbar-inner {
	background-color: #375EAB;
	background-image: -moz-linear-gradient(top, #375EAB, #222222);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#375EAB), to(#222222));
	background-image: -webkit-linear-gradient(top, #375EAB, #222222);
	background-image: -o-linear-gradient(top, #375EAB, #222222);
	background-image: linear-gradient(to bottom, #375EAB, #222222);
	background-repeat: repeat-x;
	border-color: #375EAB;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff111111', GradientType=0);
}
.pagination{
	margin-top: 50px;
}




/*自定义样式*/
.replay-panel-btn{
	margin-top: 10px;
}
.replay-panel{
	margin: 40px 0 40px 0;
}
.reply-mess{
	font-size: 12px;
}
.reply-item-line hr{
	margin: 0;
	margin: 10px 0 10px 0;
	border-bottom: 1px solid #375EAB;
}
.reply-item{
	margin-top: 8px;
}
.entry-meta{
	font-size: 12px;
	margin: 10px 0 10px 0;
}

.table-user-message td{
	border-bottom: 1px solid #375EAB;
	border-top: 1px solid #375EAB;
}

.hg-main-container{
	margin-top: 80px;
}
.hg-account-login{
	text-align: center;
	height: 180px;
}
.hg-input-block{
	display: block;
	height: auto ! important ;
}
.hg-max-height-row{
	height: 100%;
}

.bs-docs-example {
	position: relative;
	margin: 15px 0;
	padding: 39px 19px 14px;
	background-color: #fff;
	border: 1px solid #ddd;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.hg-index-content{
	margin-top: 60px;
}
.hg-text-color{
	color: #375EAB;
}
.hg-help-info{
	color: red;
}



/* Admin Box */
.admin-box {
	border: 1px solid #d6e6f0;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	margin-bottom: 18px;

	-ms-overflow-x: scroll;
	overflow-x: auto;
	min-height: 250px;
}

.admin-box h3 {
	background: #E0EBF5;
	height: 36px;
	line-height: 36px;
	color: #375EAB;
	font-size: 16px;
	padding: 0 10px;
	
	
/*	text-shadow: 0px 1px 2px rgba(0,0,0,0.8);
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;*/
	margin: 0;
}

.admin-box .table {
	margin-bottom: 0;
	max-width: 100%;
}

.admin-box .table th {
	background-color: #ddd;
	border-bottom: 1px solid #b6b6c6;
}

.admin-box .form-actions,.admin-box form {
	margin-bottom: 0;
}

.admin-box .form-actions {
	margin-top: 0;
}

.admin-box tfoot {
	line-height: 18px;
}

.admin-box .nav {
	margin-bottom: 3px;
}

.admin-box > p {
	margin-left: 10px;
}

.media-box img {
	float: left;
	margin: 0 10px 10px 5px;
}

.admin-box .control-group:nth-child(even) {
	/*background-color:  #f9f9f9;
	*/
}


.hg-entity-list-cat {
	float: left;
	color: #222;
	position: relative;
	margin-right: 14px;
	font-size: 14px;
	line-height: 20px;
	background-color: #375EAB;
	display: block;
}

.hg-entity-list-cat-arrow {
	position: absolute;
	height: 0;
	width: 0;
	font-size: 0;
	line-height: 0;
	border: 8px solid transparent;
	border-left-color: #375EAB;
	right: -14px;
	top: 3px;
	display: block;
}

.hg-entity-list-cat a:hover {
	text-shadow: none;
	text-decoration: none;
}

.hg-entity-list-cat a {
	color: #FFF;
	display: block;
	padding: 1px 4px;
}


.hg-entity-list-name {
	font-size: 18px;
	line-height: 20px;
	display: block;
	font-weight: 700;
	padding-right: 35px;
	margin: 0;
	padding: 0;
}

.yahei {
	font-family: "Microsoft Yahei",arial,helvetica,sans-serif;
	font-weight: 400;
}

.hg-entity-list-recomend-num{
	padding: 4px 4px;
	color: #fff;
	float: right;
}
.hg-entity-list-author-row{
	margin-top: 5px;
	font-size: 12px;
}
.hg-entity-list-content-row{
	font-family: "Microsoft Yahei",arial,helvetica,sans-serif;
	margin-top: 10px;
	word-wrap: break-word; 
	word-break: normal;
}
.hg-entity-list-entity-end{
	border-bottom: 1px solid #375EAB;	
	margin-top: 10px;
	margin-bottom: 15px;
}
.hg-entity-list-more{
	text-align: right;
	margin-top: 6px;	
}
.hg-active-user th{
	background: #E0EBF5;
	height: 36px;
	line-height: 36px;
	color: #375EAB;
	font-size: 16px;
	padding: 0 10px;
	border-top: 1px solid #375EAB;	
	border-bottom: 1px solid #375EAB;	
	
	margin: 0;
}

.hg-active-user td{
	border-top: 1px solid #E0EBF5;	
	border-bottom: 1px solid #E0EBF5;	
}

.entry-content{
	word-wrap: break-word; 
	word-break: normal;
	font-family: "Microsoft Yahei",arial,helvetica,sans-serif;
	font-size: 16px;
	margin-top: 15px;
}





