#loginform p, .form p {display:block; margin-bottom:10px!important; font-size:1.2em;}
.textfield input {display:block; width:100%; height:25px; line-height:24px; border:solid 1px #ccc;}
#footerwrap .credit {width: auto;}
#footerwrap .copyright{width: 100%;text-align: center;}

.prettyprint{
	margin-left: 2em;
}


.post footer a {
	color: #375EAB;
}
.post a:hover {
	color: #1496d9;
	text-decoration: underline;
}

.nositebar-content{
	background:none!important;
}
.nositebar-main{
	width:100%!important;
	min-height:500px;
}
.horizontal-form{
	
}
.horizontal-form label{
	padding-right:10px;
	display:inline;
	float:left;
	width:15%;
	text-align:right;
	height: 25px;
	line-height: 25px;

}
.horizontal-form input[type="text"]{
	width:50%;
	display:block;
	float: left;
	display: inline;
}

.horizontal-form input[type="password"]{
	width:50%;
	display:block;
	float: left;
	display: inline;
}

.submit-btn{
	display:block;
	border: 0px solid #cccccc;
	
	width: 100px!important;
	height: 25px;
	line-height: 25px;
	font-size: 14px;
	cursor:pointer;

	padding: 0px 20px 0 20px;
	height: 32px!important;
	line-height: 32px!important;
	
	color: #fff;
	display: inline-block;
	_background: none;
	background-color: #375EAB;
	text-align: center;
}

.textfield select {
	display: block;
	width: 100px;
	height: 25px;
	line-height: 24px;
	border: solid 1px #ccc;
}

.textfield small{
	font-weight: bold;
	font-size: 12px;
}


.input-error{
	color: red;
	display: block;
	height: 25px;
	line-height: 25px;
}

account{
	margin-bottom: 15px;
	display: block;
}

account .avatar{
	float: left;
}

account .userinfo span{
	display: block;

}

account .userinfo{
	margin-left: 90px;
}


account .userinfo .name{
	font-size: 16px;
	font-weight :bold;
	margin-top: 5px;
}

account .userinfo .score{
	font-size: 12px;
	margin-top: 10px;
	font-weight: bold;
}

account .user-btn-panel{
	margin-top: 10px;
}

account .user-btn-panel span{
	width: 50%;
	display:block;
	float: left;
}

account .user-btn-panel span a{
	width: 80px;
}
	

.btncjcp {
	padding: 0px 20px 0 20px;
	height: 32px;
	line-height: 32px;
	
	color: #fff!important;
	display: inline-block;
	_background: none;
	background-color: #375EAB;
	text-align: center;
}

.btnjlrj {
	text-align: center;
	padding: 0px 20px 0 20px;
	height: 32px;
	line-height: 32px;
	color: #fff!important;
	display: inline-block;
	_background: none;
	background-color: #375EAB;
	float:right;
}

.regist-link{
	line-height: 32px;
	height: 32px;
}



/*代码美化部分*/
pre ol,ul {
	padding-left: 0px!important;
}





ol.commentlist .comment-body {
	padding-top: 6px;
	font-size: 14px;
	line-height: 1.7em;
	margin-left: 40px;
}

ol.commentlist .comment-author {
	margin-right: 8px;
	font-weight: 700;
}

ol.commentlist .comment-author, ol.commentlist .comment-author a {
	color: #000;
}

ol.commentlist .comment-author {
	float: left;
	line-height: 1em;
}


ol.commentlist .comment-date, ol.commentlist .comment-edit {
	float: left;
	line-height: 1em;
	color: #ddd;
}

.m-l-10{
	margin-left: 10px;
}


ol.commentlist .comment-body p {
	margin-bottom: 10px;
	display: block;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}

ol.commentlist .comment-date, ol.commentlist .comment-edit {
	float: left;
	line-height: 1em;
	color: #ddd;
}

ol.commentlist .comment-body {
	font-size: 14px;
	line-height: 1.7em;
}

ol.commentlist, ol.commentlist li ul {
	list-style: none;
}

ol.commentlist {
	padding: 0;
	margin-bottom: 15px;
	margin-left: 0;
}
ol.commentlist li {
	margin-top: 10px;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

ol.commentlist .comment-avatar img {
	width: 30px;
	height: 30px;
	display: inline-block;
}

ol.commentlist .comment-avatar {
	position: absolute;
	left: 0;
	text-align: center;
	line-height: 1;
	margin-right: 10px;
	font-size: 0;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
}

ol.commentlist .comment-top {
	position: relative;
	padding: 10px 0 0 40px;
	border-top: 1px dotted #ddd;
}

comment .text-area textarea{
	height:150px;
	width: 98%;
	padding: 5px!important;
}


.post{
	word-wrap:break-word;
}

#sidebar ul{
	font-style:inherit!important;
}

#pageheader{
	padding: 0!important;

}

a{
	color: #375EAB;
}

