{{define "people-regist"}}
{{template "header" .}}
<div id="contents" class="nositebar-content">
<section id="main" class="nositebar-main">
	<div style="width:500px;margin: 0 auto;">
		<h2 class="mainheading">
			关于Hello Golang
		</h2>

		
	</div>
</section>
<!--Important--><div class="clear"></div>
</div>

<!-- End -->
{{template "footer" .}}
{{end}}