{{define "error-message"}}
{{template "header" .}}
<div id="contents" class="nositebar-content">
<section id="main" class="nositebar-main">
	<div style="width:500px;margin: 0 auto;">
		出错啦
	</div>
</section>
<!--Important--><div class="clear"></div>
</div>
<!-- End -->
{{template "footer" .}}

{{end}}