{{define "footer"}}
 	<div id="push"></div>
    </div>

    <div id="footer">
      <div class="container">

        <p class="muted credit" style="margin-top:25px;">Powered by <a href="http://golang.org">Golang</a>&nbsp;&nbsp; Design by <a href="http://www.hellogolang.com">hellogolang</a>&nbsp;&nbsp; Layout based on <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>
        </p>
        <p class="muted credit">
        	Copyright ©2013  
        	<a href="http://www.hellogolang.com">hellogolang.com</a></p>
        </p>
      </div>
    </div>
  </body>
</html>
{{end}}