{{define "footer"}}
</div>
<footer id="pagefooter">
  <div id="footerwrap">
    <div class="copyright">
Powered by <a href="http://golang.org">Golang</a>&nbsp;&nbsp;
      &copy;2013  <a href="http://www.hellogolang.org">hellogolang.org</a>&nbsp;&nbsp;<a target="_blank" href="http://www.miitbeian.gov.cn">吉ICP备13001199号</a>
      <script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?d882f20d766345003affefa65db41e95";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
	  </script>
    </div>
  </div>
</footer>
</body>
</html>
{{end}}