{{define "footer"}}
<footer id="pagefooter">
  <div id="footerwrap">
    <div class="copyright">
Powered by <a href="http://golang.org">Golang</a>&nbsp;&nbsp;
      &copy;2013  <a href="http://www.hellogolang.org">hellogolang.org</a>&nbsp;&nbsp;<a href="http://www.miitbeian.gov.cn/">吉ICP备13001199号</a>
    </div>
  </div>
</footer>
</body>
</html>
{{end}}