{{define "header"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Hello Golang</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- CSS -->
    <link rel='stylesheet' href='/assets/bootstrap/css/bootstrap.css' type='text/css' media='all' />
    <link rel='stylesheet' href='/assets/bootstrap/css/bootstrap.css' type='text/css' media='all' />
    <link href="/assets/css/hello-golang.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/google-code-prettify/prettify.css" type="text/css" rel="stylesheet" />

    <script language="javascript" type="text/javascript" src="/assets/js/jquery-1.7.1.min.js"></script>
    <script language="javascript" type="text/javascript" src="/assets/bootstrap/js/bootstrap.js"></script>
    <script language="javascript" type="text/javascript" src="/assets/google-code-prettify/prettify.js"></script>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- auto include css -->
    {{range .siteInfo.Css}} 
    <link href="/assets/{{ .}}" rel="stylesheet" type="text/css"/>
    {{end}}
    <!-- auto include js -->
    {{range .siteInfo.ExtraJs}} 
    <script language="javascript" type="text/javascript" src="{{ .}}"></script>
    {{end}}

    {{range .siteInfo.Js}} 
    <script language="javascript" type="text/javascript" src="/assets/{{ .}}"></script>
    {{end}}

    <link rel="shortcut icon" href="/assets/favicon.ico">
  </head>

  <body>
    <!-- Part 1: Wrap all page content here -->
    <div id="wrap">
      <div class="navbar navbar-fixed-top navbar-inverse">
          <div class="navbar-inner">
              <div class="container">
                  <a class="brand" href="/">Hello Golang</a>
                  <!--
                  <p class="navbar-text pull-right">
                    <a href="#" class="navbar-link">登录</a>&nbsp;
                    <a href="#" class="navbar-link">注册</a>
                  </p>
                  -->

                  <div class="nav-collapse">
                    <ul class="nav">
                        <li {{if StringEqual .siteInfo.CurrentNav "index"}}class="active"{{end}}><a href="/">首页</a></li>
                        <!--
                        <li {{if StringEqual .siteInfo.CurrentNav "argument"}}class="active"{{end}}><a href="/">讨论</a></li>
                        -->
                        <li {{if StringEqual .siteInfo.CurrentNav "article"}}class="active"{{end}}><a href="/post">文章</a></li>
                        <li {{if StringEqual .siteInfo.CurrentNav "hoogl"}}class="active"{{end}}><a href="/">HooGL</a></li>
                    </ul>
                  </div><!--/.nav-collapse -->
              </div>
          </div>
      </div>
{{end}}