{{define "header"}}
<!doctype html>
<html lang="en-US">
<head>
<meta charset="UTF-8" />
<title>Silver Blog | Free WordPress Theme</title>

<!-- CSS -->
<link href="/assets/google-code-prettify/prettify.css" type="text/css" rel="stylesheet" />
<link href="/assets/silverblog/style.css" rel="stylesheet" type="text/css">
<link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon" />


<!--[if IE]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<!--[if IE 6]>
<script src="/assets/silverblog/js/belatedPNG.js"></script>
<script>
  DD_belatedPNG.fix('*');
</script>
<![endif]-->

<script src="/assets/js/jquery-1.7.1.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/assets/google-code-prettify/prettify.js" type="text/javascript" charset="utf-8"></script>
<script src="/assets/silverblog/js/loopedslider.js" type="text/javascript" charset="utf-8"></script>
<script src="/assets/js/front/sidebar.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
  $(function(){
    $('#slider').loopedSlider({
      autoStart: 6000,
      restart: 5000
    });
  });
</script> 


 <!-- auto include css -->
{{range .siteInfo.Css}} 
<link href="/assets/{{ .}}" rel="stylesheet" type="text/css"/>
{{end}}

<link href="/assets/css/hg-style.css" rel="stylesheet" type="text/css"/>
<!-- auto include js -->
{{range .siteInfo.ExtraJs}} 
<script language="javascript" type="text/javascript" src="{{ .}}"></script>
{{end}}

{{range .siteInfo.Js}} 
<script language="javascript" type="text/javascript" src="/assets/{{ .}}"></script>
{{end}}


</head>
<body>
<div id="bodywrap">
  <section id="pagetop">
    <p id="siteinfo">
      
    </p>
    <nav id="sitenav">
      <ul>
        <li class="current"><a href="/">首页</a></li>
        <li><a href="/post/">文章</a></li>
        <li><a href="styles.html">关于</a></li>
      </ul>
    </nav>
  </section>
  <header id="pageheader">
    <h1>
      Hello<span>Golang</span>
    </h1>
    <!--
    <div id="search">
    <form action="#">
    <div class="searchfield">
    <input type="text" name="search" id="s">
    </div>
    <div class="searchbtn">
    <input type="image" src="images/searchbtn.png" alt="search">
    </div>
    </form>
    </div>
    -->
  </header>
{{end}}
