{{define "index"}}
{{template "header" .}}
<div id="contents">
<section id="main">
	<div id="leftcontainer">
		<h2 class="mainheading">
		最新文章列表
		</h2>

 		{{range .posts}}
		<article class="post">
			<header>
				<h3>{{ .Title }}</h3>
				<p class="postinfo">{{ .CreateTime }} | <a href="#">{{ .Author.Name }}</a> | <a href="/post/?cat={{.Class.IdpostClass}}" target="{{.Idpost}}_window" title="浏览“{{ .Class.Name }}”下的文章" href="#">{{ .Class.Name }}</a></p>
			</header>
			<p>
				{{ RemoveHtmlTag .Content }}
			</p>

			<footer>
			<span class="permalink"><a href="#permalink">阅读全文</a></span>
			<span class="comments"><a href="#">21 回复</a></span>
			</footer>
		</article>
 		{{end}}

		{{template "page" .}}	
	</div>
</section>


<section id="sidebar">
	<div id="sidebarwrap">
		<h2>登录</h2>
		<account>
			<form id="loginform">
				<p class="textfield">
				<input type="text" placeholder="&nbsp;用户名/邮箱"  name="name"/>
				</p>
				
				<p class="textfield">
				<input type="password" placeholder="&nbsp;密码"  name="password"/>
				</p>

				<p class="textfield">
				<span>没有账号？去<a href="#">注册</a></span><input type="submit" value="登陆" style="width:100px;float:right;"/>
				</p>
				<div class="clear"></div>
			</form>
		</account>

		  
		<h2>分类</h2>
		<ul>
			<li><a href="#">Web Design</a>(4)</li>
			<li><a href="#">Graphics Design</a>(8)</li>
		</ul>

		<h2>最新</h2>
		<ul>
			<li><a href="#">Web Design</a></li>
			<li><a href="#">Web Design</a></li>
			<li><a href="#">Web Design</a></li>
			<li><a href="#">Web Design</a></li>
			<li><a href="#">Web Design</a></li>
			<li><a href="#">Web Design</a></li>
			<li><a href="#">Web Design</a></li>

		</ul>
	</div>
</section>

<div class="clear"></div>
</div>
</div>
{{template "footer" .}}
{{end}}