{{define "index"}}
{{template "header" .}}
<!-- Begin page content -->
      <div class="container">
        <div class="row  hg-main-container">
          <!--left-->
          <div class="span8">
            <div class="row">
              <div class="span8">
                <div class="well">
                  <h2>Hello Golang</h2>
                  <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                </div>
              </div>
            </div>

            {{range .posts}}
            <div class="row" >
              <div class="span6">
                <div class="hg-entity-list-cat">
                  <div>
                      <a title="浏览“讨论”下的文章" href="http://www.ifanr.com/category/special/company">{{ .Type.Name }}</a>
                  </div>
                  <div class="hg-entity-list-cat-arrow"></div>
                </div>
                <h5 class="hg-entity-list-name yahei"><a href="http://www.ifanr.com/250227" rel="external" title="Permalink to  数字时代的大逃亡" target="_blank">数字时代的大逃亡</a>
                </h5>
              </div>

              <div class="span2">
                <span class="label label-warning hg-entity-list-recomend-num">7 回复</span>
              </div>

              <div class="span8 hg-entity-list-author-row">
                <span class="">2013/2/21</span> | <a href="#">凌绝</a>
              </div>

              <div class="span8 hg-entity-list-content-row">
                昨日，新浪发布 2012 年第四季度及全年财报，财报显示新浪第四季度净营收 1.391 亿美元，同比增长 4%，净利润 240 万美元，同比降低 74.2%，全年营收 5.293 亿美元，同比增长 10%，净利润为 3170 万美元。
              </div>

              <div class="span8 hg-entity-list-more">
                <button class="btn btn-mini btn-info" type="button">详细>></button>
              </div>

              <div class="span8 hg-entity-list-entity-end"></div>
            </div>
            {{end}}

          </div><!-- left end-->

          <!--right-->
          <div class="span4">
            {{if .people}}
            <div class="well">
              <table class="table table-user-message" style="margin-bottom:0px;">
                <tr><td style="width:85px; padding-left:0px;"><img src="/assets/image/default.png" width="80" style="max-width:80px;" class="img-rounded"></td><td>
                  <h5 style="margin:0;">{{ .people.Name }}</h5>
                  发帖：10<br/>
                  讨论：10<br/>
                  
                  加入：2012-08-19<br/>
                </td></tr>
              </table>
            </div> <!-- 登录后状态 end -->
            {{ else}}
            <div class="well">
              <form method="post" action="/login" id="login-form">
              <div class="control-group">
                <div class="controls">
                  <input type="text" name="name" class="btn-block hg-input-block" placeholder="邮箱">
                </div>
              </div>
              <div class="control-group">
                <div class="controls">
                  <input type="password" name="password" class="btn-block hg-input-block" placeholder="密码">
                </div>
              </div>

              <div class="control-group">
                <div class="controls">
                  <a href="#" id="login-submit" class="btn btn-block btn-success">登录</a>
                </div>
              </div>
              
              <div class="control-group">
                <div class="controls">
                  <a href="/regist" class="btn btn-block btn-info">没有账号？去注册！</a>
                </div>
              </div>
              </form>
            </div>
            {{ end }}

            <div>
              <table class="hg-active-user table table-hover">
                <tr><th>活跃成员</th></tr>
                <tr><td>&nbsp;</td></tr>
                <tr><td>&nbsp;</td></tr>
                <tr><td>&nbsp;</td></tr>
              </table>
            </div>

            <div>
              <table class="hg-active-user table table-hover">
                <tr><th>人气文章</th></tr>
                <tr><td>&nbsp;</td></tr>
                <tr><td>&nbsp;</td></tr>
                <tr><td>&nbsp;</td></tr>
              </table>
            </div>
          </div><!--right end-->
        </div>
      </div>

{{template "footer" .}}
{{end}}