{{define "page"}}
{{ $baseUrl := .pageHelper.BaseUrl}}
{{ $pageNum := .pageHelper.PageNum}}
{{ if .pageHelper.Visable}}
<div class="wp-pagenavi">
    <a href="{{$baseUrl}}{{.pageHelper.PreLink}}">&laquo; 上一页 </a>
    {{range .pageHelper.Links}}  
    <a {{ if IntEqual . $pageNum }}class="current"{{end}}   href="{{$baseUrl}}{{.}}" title="2">{{.}}</a>
    {{end}}
    <a href="{{$baseUrl}}{{.pageHelper.NextLink}}">下一页 &raquo;</a>
</div>
<div class="clear"></div>
{{end}}
{{end}}

