{{define "people-ucenter-edit"}}
{{template "header" .}}

<style>

</style>
<div id="contents">
<section id="main">
	<div id="leftcontainer">
		<h2 class="mainheading">
			修改个人信息
		</h2>
	</div>
</section>

{{template "ucenter-sidebar" .}}

<div class="clear"></div>
</div>
<!-- End -->
{{template "footer" .}}
{{end}}