{{define "people-regist"}}
{{template "header" .}}
<div id="contents" class="nositebar-content">
<section id="main" class="nositebar-main">
	<div style="width:500px;margin: 0 auto;">
		<h2 class="mainheading">
			注册一个"Hello Golang"账号
		</h2>

		<form action="#" method="post" class="form horizontal-form">
		   <p class="textfield">
				<label for="author">
					 <small>用户名*</small>
				</label>
				<input name="author" id="author" value="" size="22" tabindex="1" type="text"/>
				<div class="clear"></div>
		   </p>
		   <p class="textfield">
				<label for="email">
					  <small>邮箱*</small>
				</label>
				<input name="email" id="email" value="" size="22" tabindex="2" type="text"/>
				<div class="clear"></div>
		   </p>
			 <p class="textfield">
				<label for="email">
					  <small>密码*</small>
				</label>
				<input name="email" id="email" value="" size="22" tabindex="2" type="text"/>
				<div class="clear"></div>
		   </p>
		   
		   <p class="textfield">
				<label for="email">
					  <small>重复密码*</small>
				</label>
				<input name="email" id="email" value="" size="22" tabindex="2" type="text"/>
				<div class="clear"></div>
		   </p>

		   <p class="textfield">
				<label for="email">
					  <small>&nbsp;</small>
				</label>
				<input name="submit" id="submit"  type="submit"  value="注册"/>
				<div class="clear"></div>
		   </p>
		   <div class="clear"></div>
		</form>
	</div>
</section>
<!--Important--><div class="clear"></div>
</div>

<!-- End -->
{{template "footer" .}}
{{end}}