{{define "people-regist"}}
{{template "header" .}}
<div id="main">
	<div class="ym-wrapper">
		<div class="ym-wbox">
			<section class="ym-grid linearize-level-1">
				<div class="ym-gbox" style="height:504px;">
					<form method="post" action="" class="ym-form linearize-form" id="regist_form">
						<h6 class="ym-fbox-heading hg-fbox-heading">Hello Golang 账号注册</h6>
						
						<div class="ym-fbox-text" aria-live="assertive">
							<label for="name">用户名 <sup class="ym-required" title="必填字段">*</sup></label>
							<input type="text" name="name" id="name" size="20" />
						</div>

						<div class="ym-fbox-text" aria-live="assertive">
							<label for="email">邮箱 <sup class="ym-required" title="必填字段">*</sup></label>
							<input type="text" name="email" id="email" size="20" />
						</div>

						<div class="ym-fbox-text" aria-live="assertive">
							<label for="password">密码 <sup class="ym-required" title="必填字段">*</sup></label>
							<input type="password" name="password" id="password" class="required" size="20" />
						</div>

						<div class="ym-fbox-text" aria-live="assertive">
							<label for="repassword">重复密码<sup class="ym-required" title="必填字段">*</sup></label>
							<input type="password" name="repassword" id="repassword" size="20" />
						</div>
							
						<div class="ym-fbox-button">
							<input type="submit" value="注册" class="save" id="submit" name="submit" />
							已有账号，去<a href="/login">登录</a>
						</div>
					</form>
				</div>

			</section>
		</div>
	</div>
</div>
{{template "footer" .}}
{{end}}

