{{define "people-ucenter"}}
{{template "header" .}}

<style>
.ui-widget-content{
	border: 0px;
}

.ui-tabs .ui-tabs-panel{
	padding: 1em 0 1em 0;
}
</style>
<div id="contents">
<section id="main">
	<div id="leftcontainer">
		<div id="tabs">
		  <ul>
		    <li><a href="#tabs-1">个人信息</a></li>
		    <li><a href="#tabs-2">文章</a></li>
		  </ul>
		  <div id="tabs-1">
		   	<table class="table table-striped">
				<tr><td>用户名：</td><td>{{.tmplInfo.Data.vpeople.Name}}</td></tr>
				<tr><td>注册时间：</td><td>{{.tmplInfo.Data.vpeople.CreateTime}}</td></tr>

				{{if not .tmplInfo.Data.vpeople.PubEmail}}
					{{ if and .tmplInfo.Data.people}}
						{{if Int64Equal .tmplInfo.Data.vpeople.Idpeople .tmplInfo.Data.people.Idpeople}}
						<tr><td>邮箱：</td><td>{{.tmplInfo.Data.vpeople.Email}}(未公开)</td></tr><!--增加是否公开设置-->
						{{end}}
					{{end}}
				{{end}}

				{{if and .tmplInfo.Data.vpeople.PubEmail}}
					<tr><td>邮箱：</td><td>{{.tmplInfo.Data.vpeople.Email}}</td></tr><!--增加是否公开设置-->
				{{end}}



				{{if not .tmplInfo.Data.vpeople.PubQQ}}
					{{ if and .tmplInfo.Data.people}}
						{{if Int64Equal .tmplInfo.Data.vpeople.Idpeople .tmplInfo.Data.people.Idpeople}}
						<tr><td>QQ：</td><td>{{.tmplInfo.Data.vpeople.QQ}}(未公开)</td></tr><!--增加是否公开设置-->
						{{end}}
					{{end}}
				{{end}}

				{{if and .tmplInfo.Data.vpeople.PubQQ}}
					<tr><td>QQ：</td><td>{{.tmplInfo.Data.vpeople.QQ}}</td></tr><!--增加是否公开设置-->
				{{end}}

				<tr><td>公司：</td><td>{{.tmplInfo.Data.vpeople.Company}}</td></tr>
				<tr><td>个人主页：</td><td>{{.tmplInfo.Data.vpeople.Homepage}}</td></tr>
				<tr><td>个性签名：</td><td>{{.tmplInfo.Data.vpeople.Signature}}</td></tr>
				<tr><td>个人简介：</td><td>{{.tmplInfo.Data.vpeople.Resume}}</td></tr>

			</table>

		
		  </div>
		  <div id="tabs-2">
		  	文章&nbsp;|&nbsp;回复
		  	<br/>
		  	<br/>
		    <table class="table">
				<tr><th>标题</th><th>分类</th><th>时间</th></tr>
				
				
			</table>
		  </div>
		
		</div>
	</div>
</section>

{{template "people-ucenter-sidebar" .}}

<div class="clear"></div>
</div>

<script>
$(document).ready(function(){
	$( "#tabs" ).tabs({ active: 0 });
})
</script>

<!-- End -->
{{template "footer" .}}
{{end}}