{{define "people-regist"}}
{{template "header" .}}
<div id="contents" class="nositebar-content">
<section id="main" class="nositebar-main">
	<div style="width:500px;margin: 0 auto;">
		<h2 class="mainheading">
			注册一个"Hello Golang"账号
		</h2>

		<form action="/regist/" method="post" class="form horizontal-form" id="regist_form">
		   <p class="textfield">
				<label for="name">
					 <small>用户名*</small>
				</label>
				<input name="name" id="name" value="" size="22" tabindex="1" type="text"/>
				<span class="input-error"></span>
				<div class="clear"></div>
		   </p>
		   <p class="textfield">
				<label for="email">
					  <small>邮箱*</small>
				</label>
				<input name="email" id="email" value="" size="22" tabindex="2" type="text"/>
				<span class="input-error"></span>
				<div class="clear"></div>
		   </p>
			 <p class="textfield">
				<label for="password">
					  <small>密码*</small>
				</label>
				<input name="password" id="password" value="" size="22" tabindex="2" type="password"/>
				<span class="input-error"></span>
				<div class="clear"></div>
		   </p>
		   
		   <p class="textfield">
				<label for="repassword">
					  <small>重复密码*</small>
				</label>
				<input name="repassword" id="repassword" value="" size="22" tabindex="2" type="password"/>
				<span class="input-error"></span>
				<div class="clear"></div>
		   </p>

		   <p class="textfield">
				<label for="email">
					  <small>&nbsp;</small>
				</label>
				<input name="submit" class="submit-btn" id="submit"  type="submit"  value="注册"/>
				<div class="clear"></div>
		   </p>
		   <div class="clear"></div>
		</form>
	</div>
</section>
<!--Important--><div class="clear"></div>
</div>
<!-- End -->
{{template "footer" .}}

<script>
$(document).ready(function(){
/*
 * 注册表单验证
 */ 
    jQuery.validator.addMethod("alnum", function(value, element) {
      return this.optional(element) || /^[a-zA-Z0-9\u4E00-\u9FA5]+$/.test(value);
    }, "只能包括英文字母和数字");

    $("#regist_form").validate({
        onkeyup:true,
        errorElement: "p",
        rules: {
          name: {
            required: true,
            minlength: 2,
            maxlength: 10,
            remote:"/people/isexist/",
            alnum:[],
          },
          email: {
            required: true,
            email: true,
            remote:"/people/isexist/",
          },
          password: {
            required: true,
            minlength: 6,
            alnum:[],
          },
          repassword:{
            equalTo:"#password"
          }
        },
        messages: {
          name: {
            required: "&nbsp;请输入用户名",
            minlength: "&nbsp;用户名长度至少为两位",
            maxlength: "&nbsp;用户名长度最长为十位",
            remote: "&nbsp;该用户名已被注册",
            alnum: "&nbsp;用户名含有特殊字符",
          },
          email: {
            required: "&nbsp;请输入邮箱",
            email: "&nbsp;请输入正确的邮箱地址",
            remote: "&nbsp;该邮箱已被注册",
          },
          password: {
            required: "&nbsp;请输入密码",
            minlength: "&nbsp;密码长度至少为六位",
            alnum: "&nbsp;密码只能为英文或数字",
          },
          repassword:{
            equalTo:"&nbsp;两次输入的密码不一致",
          } 
        },
        errorPlacement: function(error, element) {
          element.next(".input-error").html(error.text());
        },
        success: function(label) {
          label.parent("div").removeClass("ym-error");
          label.remove();
        }
    })
});
</script>
{{end}}