{{define "people-login"}}
{{template "header" .}}
<!-- Begin page content -->
    <div class="container ">
        <div class="row hg-main-container">
          <div class="span3"></div>
          <div class="span6 well">
            {{if .errorMessage}}
            <div class="alert alert-error">
              <button type="button" class="close" data-dismiss="alert">×</button>
              用户名或密码错误
            </div>
            {{end}}
            <form>
              <fieldset>
                <legend><span class="hg-text-color">Hello Golang</span> 社区登录</legend>

                <label>用户名/邮箱</label>
                <input type="text" class="btn-block hg-input-block" placeholder="用户名/邮箱">
                <!--<span class="help-block">Example block-level help text here.</span>-->

                <label>密码</label>
                <input type="password" class="btn-block hg-input-block" placeholder="密码">
                <!--<span class="help-block">Example block-level help text here.</span>-->

         
                <button type="submit" class="btn btn-success">登录社区</button>
              </fieldset>
            </form>
          </div>
          <div class="span3"></div>
        </div>
    </div>
{{template "footer" .}}
{{end}}