{{define "people-login"}}
{{template "header"}}
<!-- Begin page content -->
    <div class="container ">
        <div class="row hg-index-info hg-main-container">
          <div class="span3"></div>
          <div class="span6 well">
            <form>
              <fieldset>
                <legend><span class="hg-text-color">Hello Golang</span> 社区账号注册</legend>

                <label>用户名</label>
                <input type="text" class="btn-block hg-input-block" placeholder="用户名可以为中文，最长20位字符">
                <!--<span class="help-block">Example block-level help text here.</span>-->

                <label>邮箱</label>
                <input type="text" class="btn-block hg-input-block" placeholder="请输入常用邮箱地址">
                <!--<span class="help-block">Example block-level help text here.</span>-->

                <label>密码</label>
                <input type="password" class="btn-block hg-input-block" placeholder="密码为8-20位，仅可用英文和数字">
                <!--<span class="help-block">Example block-level help text here.</span>-->

                <label>重复密码</label>
                <input type="password" class="btn-block hg-input-block" placeholder="请重复密码">
                <!--<span class="help-block">Example block-level help text here.</span>-->


                <label class="checkbox">
                  <input type="checkbox"> 我同意 服务条款
                </label>
                <button type="submit" class="btn">注册账号</button>
              </fieldset>
            </form>
          </div>
          <div class="span3"></div>
        </div>
    </div>

    <div id="push"></div>
{{template "footer"}}
{{end}}