{{define "people-ucenter-sidebar"}}
<section id="sidebar">
	<div id="sidebarwrap">
		<div style="text-align:center;margin-bottom:20px;">
			{{ if and .tmplInfo.Data.people}}
			<img src="{{.tmplInfo.Data.people.Avatar}}" style="max-width:120px;" /><br/>
			{{else}}	
			<img src="{{.tmplInfo.Data.vpeople.Avatar}}" style="max-width:120px;" /><br/>
			{{end}}
		</div>
		{{ if and .tmplInfo.Data.people}}
		<h2>操作面板</h2>
		<ul>
			<li><a href="/people/ucenter/">个人主页</a></li>
			<li><a href="/people/ucenter/edit/" >修改个人信息</a></li>
			<li><a href="/people/ucenter/edit/avatar/" >修改头像</a></li>
			<li><a href="#" >修改密码</a></li>
		</ul>
		{{end}}
	</div>
</section>
{{end}}