{{define "post-item"}}
{{template "header" .}}
      <!-- Begin page content -->
      <div class="container">
        <div class="row hg-main-container">
          <!--left-->
          <div class="span8">
            <div class="row">
              <div class="span8">
                <article id="post-259608">
                  <div class="entry-header">
                      <h3 class="entry-name yahei">
                          <a href="http://www.ifanr.com/news/259608" rel="bookmark" title="Permalink to “Android 不安全，大家不要用”">Android 不安全，大家不要用</a>
                      </h3>
                  </div>

                  <div class="entry-meta">2013-3-8 16:41&nbsp;|&nbsp;<a href="#">凌绝</a></div>

                  <div class="entry-content">
                      <p>互联网安全公司 F-secure 今日发布了他们最新的移动互联网安全<a href="http://www.f-secure.com/static/doc/labs_global/Research/Mobile%20Threat%20Report%20Q4%202012.pdf" target="_blank">报告</a>。该报告表示，Android 平台面对着比较大的安全问题，2012 年有 79% 的恶意软件都寄生于 Andriod 之上，此数字比 2011 年更高出 12.3%。相较之下，iOS 平台内的恶意软件仅占总量的 0.7%，继续成为最安全的移动系统。</p>
                      <p>对此结论，苹果副总裁 Phil Schiller 在 Twitter 上发文：“Android 不安全，大家不要用”并附上安全报告。<a href="http://9to5mac.com/2013/03/07/apples-phil-schiller-on-android-malware-be-safe-out-there/" target="_blank">9to5mac 指出</a>，Phil Schiller 向来有借道 Twitter 表达对竞争对手不满的习惯。去年 4 月份，Phil Schiller 就曾因为 Instagram 登陆 Android 而删除了自己的 Instagram 账户，并通过 Twitter 向外界宣布这一消息。</p>
                      <p>Android 的安全问题一部分源于其备受好评开源系统，而安全问题的愈演愈烈也从另一角度展现了 Android 在市场上的成功。数据显示，Android 的市占率从 2011 年 49.2% 上升到 2012 年的 68.8%，增长幅度与其恶意软件增长率不分伯仲。相较之下，塞班因为渐渐退出市场，它也慢慢成为了一个“较为安全的系统”。</p>
                      <p>当然，Android 的安全性是不可回避的问题。曾有某电台节目在探讨手机使用网银遭窃话题时询问了某专家的意见——专家说，“换用未越狱的苹果手机是一个解决办法。”</p>

                  </div>
                </article>

                <div><span class="label label-info">8&nbsp;回复</span></div>

                <div>
                  <div class="row reply-item">
                    <div class="span8">
                      <div class="reply-item-line"><hr/></div>
                    </div>
                    <div class="span1">
                      <img src="/assets/image/default.png" width="80" class="img-rounded"/>
                    </div>
                    <div class="span7">
                      <div class="reply-mess">许凌绝 2013-03-10</div>
                      <div class="reply-content">Android 的安全问题一部分源于其备受好评开源系统，而安全问题的愈演愈烈也从另一角度展现了 Android 在市场上的成功。数据显示，Android 的市占率从 2011 年 49.2% 上升到 2012 年的 68.8%，增长幅度与其恶意软件增长率不分伯仲。相较之下，塞班因为渐渐退出市场，它也慢慢成为了一个“较为安全的系统”。</div>
                    </div>
                  </div>

                  <div class="row reply-item">
                    <div class="span8">
                      <div class="reply-item-line"><hr/></div>
                    </div>
                    <div class="span1">
                      <img src="/assets/image/default.png" width="80" class="img-rounded"/>
                    </div>
                    <div class="span7">
                      <div class="reply-mess">许凌绝 2013-03-10</div>
                      <div class="reply-content">Android 的安全问题一部分源于其备受好评开源系统，而安全问题的愈演愈烈也从另一角度展现了 Android 在市场上的成功。数据显示，Android 的市占率从 2011 年 49.2% 上升到 2012 年的 68.8%，增长幅度与其恶意软件增长率不分伯仲。相较之下，塞班因为渐渐退出市场，它也慢慢成为了一个“较为安全的系统”。</div>
                    </div>
                  </div>

                  <div class="row reply-item">
                    <div class="span8">
                      <div class="reply-item-line"><hr/></div>
                    </div>
                    <div class="span1">
                      <img src="/assets/image/default.png" width="80" class="img-rounded"/>
                    </div>
                    <div class="span7">
                      <div class="reply-mess">许凌绝 2013-03-10</div>
                      <div class="reply-content">Android 的安全问题一部分源于其备受好评开源系统，而安全问题的愈演愈烈也从另一角度展现了 Android 在市场上的成功。数据显示，Android 的市占率从 2011 年 49.2% 上升到 2012 年的 68.8%，增长幅度与其恶意软件增长率不分伯仲。相较之下，塞班因为渐渐退出市场，它也慢慢成为了一个“较为安全的系统”。</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- left end-->

          <!--right-->
          <div class="span4">
          <!-- 登录后状态 -->
            
          </div><!--right end-->
        </div>
        <div style="height:50px;"></div>
      </div>
{{template "footer" .}}
{{end}}