{{define "post-create"}}
{{template "header" .}}
<div id="contents">



<section id="main">
<div id="leftcontainer">
  	<h2>发表新文章</h2>
  	<article class="post">
		<form  method="post" class="form" id="post_form">
		   	<p class="textfield">
		   		<label for="author">
		            <small>标题</small>
		        </label>
		        <input name="title" id="title" value="" size="22" type="text">  
		   	</p>
		   	<p class="textfield">
		   		<label for="email">
		              <small>栏目</small>
		        </label>
		       	<select name="post_class">
                    {{range .postClass}} 
                      <option value="{{.IdpostClass}}">{{.Name}}</option>
                    {{end}}
                </select>
		   	</p>

		   	<p class="textfield">
		   		<label for="content">
		            <small>正文</small>
		        </label>
		       <textarea id="post-content" name="content" rows="30" cols="80"></textarea>
		       <input type="hidden" value="0" name="contetnum"/>
		   	</p>

		   	<p class="textfield">
		   		 <label for="url">
		             <small>出处</small>
		          </label>
		       <input name="reprint_from" id="url"  placeholder="&nbsp;原创文章此处请留空" value="" size="22" tabindex="3" type="text">
		         
		   </p>

		   <p class="textfield">
		   		 <label for="url">
		             <small>源地址</small>
		          </label>
		       <input name="reprint_url" id="url" placeholder="&nbsp;原创文章此处请留空" value="" size="22" tabindex="3" type="text">
		         
		   </p>
		 
		   <p>
		       <input name="submit" id="submit"  class="submit-btn" type="submit"  value="确定发表"/>
		   </p>
		   <div class="clear"></div>
		</form>
	<!--Important--><div class="clear"></div>
	</article>
</div>
</section>



{{template "sidebar" .}}


<div class="clear"></div>
</div>

{{template "footer" .}}
{{end}}