{{define "post-item"}}
{{template "header" .}}
      <!-- Begin page content -->
      <div class="container">
        <div class="row hg-main-container">
          <!--left-->
          <div class="span8">
            <div class="row">
              <div class="span8">
                <article id="post-259608">
                  <div class="entry-header">
                      <h3 class="entry-name yahei">
                          <a href="http://www.ifanr.com/news/259608" rel="bookmark" title="Permalink to “{{ .post.Title}}”">{{ .post.Title}}</a>
                      </h3>
                  </div>

                  <div class="entry-meta">{{ .post.CreateTime}}&nbsp;|&nbsp;<a href="#">{{ .post.Author.Name}}</a></div>

                  <div class="entry-content">
                      {{ .post.Content}}
                  </div>
                </article>

                <div class="replay-panel">
                  <textarea id="contentqq" name="content" style="width:100%;height:160px;visibility:hidden;"></textarea>
                  <div class="text-right replay-panel-btn"><button class="btn btn-primary">发表回复</button></div>
                </div>



                <div><span class="label label-info">8&nbsp;回复</span></div>

                <div>

                  {{range .postReplies}} 
                  <div class="row reply-item">
                    <div class="span8">
                      <div class="reply-item-line"><hr/></div>
                    </div>
                    <div class="span1">
                      <img src="/assets/image/default.png" width="80" class="img-rounded"/>
                    </div>
                    <div class="span7">
                      <div class="reply-mess"><a>{{ .Author.Name}}</a> {{ .CreateTime}}</div>
                      <div class="reply-content">{{ .Content}}</div>
                    </div>
                  </div>
                  {{end}}
                  

                  <div class="pagination text-center">
                    <ul>
                      <li><a href="#">Prev</a></li>
                      <li><a href="#">1</a></li>
                      <li><a href="#">2</a></li>
                      <li><a href="#">3</a></li>
                      <li><a href="#">4</a></li>
                      <li><a href="#">5</a></li>
                      <li><a href="#">Next</a></li>
                    </ul>
                  </div>

                  

                </div>


              </div>
            </div>
          </div><!-- left end-->

          <!--right-->
          <div class="span4">
          <!-- 登录后状态 -->
            
          </div><!--right end-->
        </div>
        <div style="height:50px;"></div>
      </div>
{{template "footer" .}}
{{end}}