{{define "post-item"}}
{{template "header" .}}
      <!-- Begin page content -->
      <div class="container">
        <div class="row hg-main-container">
          <!--left-->
          <div class="span8">
            <div class="row">
              <div class="span8">
                <article id="post-259608">
                  <div class="entry-header">
                      <h3 class="entry-name yahei">
                          <a href="http://www.ifanr.com/news/259608" rel="bookmark" title="Permalink to “{{ .post.Title}}”">{{ .post.Title}}</a>
                      </h3>
                  </div>

                  <div class="entry-meta">{{ .post.CreateTime}}&nbsp;|&nbsp;<a href="#">{{ .post.Author.Name}}</a></div>

                  <div class="entry-content">
                      {{ .post.Content}}
                  </div>
                </article>

                <form action="/post/comment" id="comment_form" method="post">
                  <div class="replay-panel">
                    <textarea name="content" id="contentqq" style="width:100%;height:160px;visibility:hidden;"></textarea>
                    <input type="hidden" name="postId" value="{{.post.Idpost}}" />
                    
                    
                    <div class="text-right replay-panel-btn">
                      {{if not .people.Idpeople }}请先&nbsp;&nbsp;<a href="/login">登录</a>&nbsp;|&nbsp;<a href="/regist">注册</a>&nbsp;&nbsp;{{end}}
                      <input type="submit" class="btn btn-success {{if not .people.Idpeople }} disabled {{end}}" value="发表回复" /></div>
                  </div>
                </form>

                <input type="text" value="0" name="contetnum"/>



                <div><span class="label label-info">{{ .post.ReplyNum }}&nbsp;回复</span></div>

                <div>
                  {{range .comments}} 
                  <div class="row reply-item">
                    <div class="span8">
                      <div class="reply-item-line"><hr/></div>
                    </div>
                    <div class="span1">
                      <img src="/assets/image/default.png" width="80" class="img-rounded"/>
                    </div>
                    <div class="span7">
                      <div class="reply-mess"><a>{{ .Author.Name}}</a> {{ .CreateTime}}</div>
                      <div class="reply-content">{{ .Content}}</div>
                    </div>
                  </div>
                  {{end}}
                  

                  {{template "page" .}}

                  

                </div>


              </div>
            </div>
          </div><!-- left end-->

          <!--right-->
          <div class="span4">
          <!-- 登录后状态 -->
            
          </div><!--right end-->
        </div>
        <div style="height:50px;"></div>
      </div>
{{template "footer" .}}
{{end}}