{{define "right-sidebar-article"}}
<div class="ym-grid linearize-level-2">
	<section class="hg-info  hg-info-right-title">
			<article class="ym-g100 ym-grid">
				<div class="ym-gbox">
					<h6 class="hg-page-summary">热门文章</h6>
				</div>
			</article>
	</section>

	<ul class="hg-top-article">
		<li>
			<a href="">
				<span class="hg-top-article-comment">1</span>
				<span class="hg-top-article-title">读懂《少年 Pi》之一：我有信仰读懂《少年 Pi》之一：我有信仰</span>
			</a>
		</li>
		<li>
			<a href="">
				<span class="hg-top-article-comment">2</span>
				<span class="hg-top-article-title">2012-12-24</span>
			</a>
		</li>
	</ul>
</div>
{{end}}

