{{define "sidebar"}}
<section id="sidebar">
	<div id="sidebarwrap">
		{{ if not .tmplInfo.Data.people}}
		<h2>登录</h2>
		<div class="account">
			<form id="login-form" method="post" action="/login/">

				<p class="textfield error" style="display:none;">
					<span style="font-size:12px;color:red;">用户名/邮箱或密码错误</span>
				</p>
				
		
				<p class="textfield">
					<label for="name">
						 <small>用户名*</small>
					</label>
					<input name="username"  value="" size="22" tabindex="1" type="text"/>
					<div class="clear"></div>
			    </p>
			    <p class="textfield">
					<label for="name">
						 <small>密码*</small>
					</label>
					<input name="password"  value="" size="22" tabindex="1" type="password"/>
					<div class="clear"></div>
			    </p>
				
			
				<p class="textfield">
				<span class="regist-link">没有账号？去<a href="/regist">注册</a></span><input type="submit" value="登陆" class="submit-btn" style="width:100px;float:right;"/>
				</p>

				<div class="clear"></div>
			</form>
		</div>
		{{end}}

		{{ if and .tmplInfo.Data.people}}
		<div class="account">
			<div class="avatar">
				<a href="#"><img width="70" src="/assets/image/default.png" alt="lingjue"></a>
			</div>
			<div class="userinfo">
				<span class="name"><a href="#">{{.tmplInfo.Data.people.Name}}</a></span>
				<span class="buttons"><a href="/post/create/" >发文章</a> <a href="/diet/create" >提问题</a></span>
				<span class="logout"><a href="/logout/">退出</a></span>
			</div>
			<div class="clear"></div>
		</div>
		{{end}}
		  
		<h2>分类</h2>
		<ul>
			{{range .tmplInfo.Data.postClasses}}
			<li><a href="/post/?cat={{.IdpostClass}}">{{.Name}}</a></li>
			{{end}}
		</ul>

		<h2>相关链接</h2>
		<ul>
			<li><a href="http://www.golang.tc" target="_blank">Golang中国</a></li>
			<li><a href="http://www.golang.org" target="_blank">Go语言官网</a></li>
			<li><a href="http://www.golangcn.com" target="_blank">Go语言中国</a></li>
			<li><a href="http://zh.golanger.com/" target="_blank">GoDoc中文</a></li>
		</ul>
	</div>
</section>

<script>
$(document).ready(function(){
	$("#login-form").submit(function(){
		var username = $(this).find("input[name='username']").val();
		var password = $(this).find("input[name='password']").val();
		var loginErr = false;

		if(username==''||!/^[a-zA-Z0-9]+$/.test(password)){
			$(this).find(".error").show(300);
		}else{
			//ajax登录
			$.ajax({
			   	type: "POST",
			   	url: "/ajaxlogin/",
			   	dataType:"json",
			   	data: {
			   		"name":username,
			   		"password":password
			   	},
			   	success: function(msg){
			    	if(msg.result=="success"){
			    		$(".account").prev("h2").hide();
			    		$(".account").html('\
							<div class="avatar">\
								<a href="#"><img width="70" src="/assets/image/default.png" alt="lingjue"></a>\
							</div>\
							<div class="userinfo">\
								<span class="name"><a href="#">'+msg.people.Name+'</a></span>\
								<span class="buttons"><a href="/post/create/" >发文章</a> <a href="/diet/create" >提问题</a></span>\
								<span class="logout"><a href="/logout/">退出</a></span>\
							</div>\
							<div class="clear"></div>\
			    			')
			    		//更新界面
			    	}else{
			    		$("#login-form").find(".error").show(300);
			    	}
			   	}
			})
		}

        return false; 
    });
})
</script>
{{end}}