{{define "sidebar"}}
<section id="sidebar">
	<div id="sidebarwrap">
		{{ if not .people}}
		<h2>登录</h2>
		<account>
			<form id="login-form" method="post" action="/login/">

				<p class="textfield error" style="display:none;">
				<span style="font-size:12px;color:red;">用户名/邮箱或密码错误</span>
				</p>
				
				
				<p class="textfield">
				<input type="text" placeholder="&nbsp;用户名/邮箱"  name="username"/>
				</p>
				
				<p class="textfield">
				<input type="password" placeholder="&nbsp;密码"  name="password"/>
				</p>

				<p class="textfield">
				<span class="regist-link">没有账号？去<a href="/regist">注册</a></span><input type="submit" value="登陆" class="submit-btn" style="width:100px;float:right;"/>
				</p>

				<div class="clear"></div>
			</form>
		</account>
		{{end}}

		{{ if and .people}}
		<account>
			<div class="avatar">
				<a href="#"><img width="70" src="/assets/image/default.png" alt="lingjue"></a>
			</div>
			<div class="userinfo">
				<span class="name"><a href="#">{{.people.Name}}</a></span>
				
				
			</div>
			<div class="clear"></div>

			<div class="user-btn-panel">
				<span><a href="/post/create/" rel="nofollow" class="btncjcp">发文章</a></span>
				<span><a href="/diet/create" rel="nofollow" class="btnjlrj">提问题</a></span>
				<div class="clear"></div>
			</div>

			<div class="clear"></div>
		</account>
		{{end}}
		  
		<h2>分类</h2>
		<ul>
			{{range .postClasses}}
			<li><a href="/post/?cat={{.IdpostClass}}">{{.Name}}</a></li>
			{{end}}
		</ul>

		<h2>相关链接</h2>
		<ul>
			<li><a href="http://www.golang.tc" target="_blank">Golang中国</a></li>
			<li><a href="http://www.golang.org" target="_blank">Go语言官网</a></li>
			<li><a href="http://www.golangcn.com" target="_blank">Go语言中国</a></li>
			<li><a href="http://zh.golanger.com/" target="_blank">GoDoc中文</a></li>
		</ul>
	</div>
</section>
{{end}}