{{define "ucenter-sidebar"}}
<section id="sidebar">
	<div id="sidebarwrap">
		<div style="text-align:center;margin-bottom:20px;">
			<img src="/assets/image/default.png" style="max-width:120px;" /><br/>	

		</div>
		
		<h2>操作面板</h2>
		<ul>
			<li><a href="http://www.golang.tc" target="_blank">修改个人信息</a></li>
			<li><a href="http://www.golang.tc" target="_blank">修改头像</a></li>
			<li><a href="http://www.golang.tc" target="_blank">修改密码</a></li>
		</ul>
	</div>
</section>
{{end}}